<h1 style="text-align:center; font-size:50px; font-family: Arial"> Battle!</h1>
<h2 style="text-align:center; font-size:35px; font-family: Arial">Sign in to play</h2>

<form style="text-align:center; font-size:20px; font-family: Arial" action="/names" method="post">
  <label for="player_1_name">
   Player 1 name
  <input type="text" name="player_1_name">
</label>
<label for="player_2_name">
  Player 2 name
  <input type="text" name="player_2_name">
</label>
  <input type="submit" value="Submit">
</form>
